#category > .panel-group > .panel-default {
  margin-top: 0;
}
#category > .panel-group > .panel-default > .panel-heading > h4 > a {
  font-family: "微软雅黑";
  display: block;
  background: url('../imgs/arrow1.gif') right center no-repeat;
}
#category > .panel-group > .panel-default > .panel-collapse > .panel-body {
  padding: 0;
}
#category > .panel-group > .panel-default > .panel-collapse > .panel-body > .row > div {
  height: 40px;
  border: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
  border-left: 0;
  border-top: 0;
}
.panel-default > .panel-heading {
  background-color: #ededed;
}
.panel-body a {
  font-family: "微软雅黑";
  color: #000;
}
