/*ͷ��*/
.header_barnd {
  height: 49px;
  line-height: 49px;
  overflow: hidden;
  position: relative;
}
.header_barnd.orange_bg {
  background-color: #FF841D;
}
.header_barnd .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 49px;
  text-align: center;
}
.header_barnd .back > .icon_back {
  font-size: 18px;
  margin-top: 15px;
  color: #fff;
}
.header_barnd h1 {
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
  line-height: 49px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  text-align: center;
}
.header_barnd .down_app_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: right;
  padding: 0 3%;
}
.header_barnd img {
  max-height: 25px;
}
/*���̳�*/
.link {
  width: 300px;
  margin: 10px auto;
}
.link a {
  padding: 10px 8px;
  background-color: #f4f4f4;
  border: 1px solid #bfbfbf;
  float: left;
  margin: 0 0 5px 5px;
  font-size: 14px;
}
.link a img {
  margin-right: 5px;
}
/*��ǰλ��*/
.current_position {
  height: 36px;
  line-height: 36px;
  padding: 0 3%;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ccc;
  padding-left: 3%;
  margin: 0;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  font-size: 14px;
  margin-top: 20px;
}
/*�ײ�*/
footer {
  margin-top: 20px;
  background: #F2F2F2;
}
footer .row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
footer .row > div {
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-right: 1px solid #ccc;
}
footer .row > div > a {
  display: block;
  height: 100%;
}
footer .row > div:last-of-type {
  border-right: none;
}
footer .row > div:last-of-type .to_top_icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
footer > .footer_msg {
  padding: 10px 0;
}
footer > .footer_msg > p {
  text-align: center;
  margin: 0;
}
footer > .footer_msg > p > a:nth-of-type(1) {
  color: #ff0000;
}
