/*头部*/
.header_barnd {
  height: 49px;
  line-height: 49px;
  overflow: hidden;
  position: relative;
}
.header_barnd.orange_bg {
  background-color: #FF841D;
}
.header_barnd .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 49px;
  text-align: center;
}
.header_barnd .back > .icon_back {
  font-size: 18px;
  margin-top: 15px;
  color: #fff;
}
.header_barnd h1 {
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
  line-height: 49px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  text-align: center;
}
.header_barnd .down_app_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: right;
  padding: 0 3%;
}
.header_barnd img {
  max-height: 25px;
}
.histroy > p {
  font-size: 12px;
  margin: 0px;
  padding: 10px;
  color: #636363;
}
.histroy > .input {
  padding: 0px 10px;
}
.histroy > .input > input {
  word-break: break-all;
  color: #c9c9c9;
  width: 100%;
  box-sizing: border-box;
  padding: 6px 0px;
  font-size: 12px;
  line-height: 18px;
  outline: none;
  border-bottom: 1px solid #e3e3e3;
  -webkit-appearance: none;
  border-radius: 0px;
  overflow-y: visible;
  resize: none;
}
.histroy > .btn {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.histroy > .btn > input {
  font-size: 16px;
  text-align: center;
  border: 1px solid #cccccc;
  height: 40px;
  line-height: 38px;
  border-radius: 20px;
  padding: 0px 25px;
  margin-top: 30px;
  outline: none;
  -webkit-appearance: none;
  color: #333333;
  background-color: #fff;
}
.histroy > .notice {
  margin-top: 40px;
  padding: 10px;
}
.histroy > .notice > .hd {
  font-size: 14px;
  color: #333333;
}
.histroy > .notice > .bd {
  margin-top: 10px;
}
.histroy > .notice > .bd > p {
  padding: 0px;
  font-size: 12px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 0;
}
